<md-content layout-padding layout="column">
  <!-- TODO, check out for expandable list http://embed.plnkr.co/NMvyXBL3FYf2b2XsAlz9 -->
  <section ng-repeat="section in viewModel.sections">
    <md-subheader>{{ section.date | amUtc | amLocal | amCalendarDate : null : 'days' }}</md-subheader>
    <md-card>
      <md-item ng-repeat="item in section.items">
        <md-context
          layout-padding
          layout="column">
          <span> {{ item.service }} </span>
          <span> {{ item.code }} </span>
          <span> {{ item.date | amUtc | amLocal | amDateFormat : 'HH:mm' }} </span>

          <span> {{ item.client.name }} </span>
          <span> {{ item.address.place }} </span>
          <span> {{ item.address.reference }} </span>
        </md-context>
        <md-divider inset></md-divider>
      </md-item>
    </md-card>
  </section>

  <md-progress-circular ng-if="viewModel.loading"></md-progress-circular>
</md-content>
