<md-card md-whiteframe="2" flex>
  <md-toolbar
    class="md-table-toolbar md-default"
    ng-hide="viewModel.selected.length">
    <div class="md-toolbar-tools">
      <span>{{ viewModel.devMode ? 'Dev ' : '' }}Collisions</span>
    </div>
  </md-toolbar>
  <md-toolbar
    class="md-table-toolbar alternate"
    ng-show="viewModel.selected.length">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="viewModel.selected = []">
        <md-icon
          class="md-24"
          md-font-src="material-icons">
          clear
          <md-tooltip md-direction="bottom">Clear selection</md-tooltip>
        </md-icon>
      </md-button>
      <div>{{ viewModel.selected.length }} {{ viewModel.selected.length > 1 ? 'items' : 'item' }} selected</div>
      <div flex><!-- Fill the empty space --></div>
      <md-button class="md-icon-button" ng-click="viewModel.delete($event)">
        <md-icon
          class="md-24"
          md-font-src="material-icons">
          delete
          <md-tooltip md-direction="bottom">Delete</md-tooltip>
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-table-container>
    <table
      ng-model="viewModel.selected"
      md-table
      md-row-select
      multiple
      md-progress="viewModel.promise">
      <thead
        md-head
        md-on-reorder="viewModel.getData">
        <tr md-row>
          <th md-column>User</th>
          <th md-column>Collision ID</th>
          <th md-column>Route ID</th>
          <th md-column>Status</th>
          <th md-column>Location</th>
          <th md-column>Timestamp</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr
          md-row
          md-auto-select
          md-select="item"
          md-select-id="id"
          ng-repeat="item in viewModel.data">
          <td md-cell>
            <img ng-src="{{ item.user.image }}" class="userAvatar md-avatar" alt="{{ item.user.name }}">
              <md-tooltip md-direction="bottom">{{ item.user.name }}</md-tooltip>
            </img>
          </td>
          <td md-cell>{{ item.id }}</td>
          <td md-cell>{{ item.routeId }}</td>
          <td md-cell>{{ item.status }}</td>
          <td md-cell>{{ item.latitude }}, {{ item.longitude }}</td>
          <td md-cell>{{ item.timestamp | date : 'short' }}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination
    md-page-select
    md-page="viewModel.query.page"
    md-limit="viewModel.query.limit"
    md-limit-options="viewModel.query.limitOptions"
    md-total="{{ viewModel.total }}"
    md-on-paginate="viewModel.getData">
  </md-table-pagination>
</md-card>
