<md-content layout="column">
  <md-card md-whiteframe="2" flex ng-hide="viewModel.route">
    <md-toolbar
      class="md-table-toolbar md-default"
      ng-hide="viewModel.selected.length">
      <div class="md-toolbar-tools">
        <span>{{ viewModel.devMode ? 'Dev ' : '' }}Routes</span>
      </div>
    </md-toolbar>
    <md-toolbar
      class="md-table-toolbar alternate"
      ng-show="viewModel.selected.length">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="viewModel.selected = []">
          <md-icon
            class="md-24"
            md-font-src="material-icons">
            clear
            <md-tooltip md-direction="bottom">Clear selection</md-tooltip>
          </md-icon>
        </md-button>
        <div>{{ viewModel.selected.length }} {{ viewModel.selected.length > 1 ? 'items' : 'item' }} selected</div>
        <div flex><!-- Fill the empty space --></div>
        <md-button class="md-icon-button" ng-click="viewModel.delete($event)">
          <md-icon
            class="md-24"
            md-font-src="material-icons">
            delete
            <md-tooltip md-direction="bottom">Delete</md-tooltip>
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-table-container>
      <table
        ng-model="viewModel.selected"
        md-table
        md-row-select
        multiple
        md-progress="viewModel.promise">
        <thead
          md-head
          md-on-reorder="viewModel.getData">
          <tr md-row>
            <th md-column>User</th>
            <th md-column>Route ID</th>
            <th md-column md-numeric>Spanshots</th>
            <th md-column>Duration</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr
            md-row
            md-auto-select
            md-select="item"
            md-select-id="id"
            ng-repeat="item in viewModel.data">
            <td md-cell>
              <a ng-href="/users/{{ item.user.id }}">
                <img ng-src="{{ item.user.image }}" class="userAvatar md-avatar" alt="{{ item.user.name }}">
                  <md-tooltip md-direction="bottom">{{ item.user.name }}</md-tooltip>
                </img>
              </a>
            </td>
            <td md-cell>
              <a ng-href="/routes{{ viewModel.pathExtension }}/{{ item.id }}">{{ item.id }}</a>
            </td>
            <td md-cell>{{ item.snapshotCount }}</td>
            <td md-cell>
              <span>
                {{ item.duration | date : 'm:ss': 'UTC' }}
                <md-tooltip>
                  {{ item.start | date : 'short' }} {{ item.end ? '-' : '' }} {{ item.end ? (item.end | date : 'shortTime') : '' }}
                </md-tooltip>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination
      md-page-select
      md-page="viewModel.query.page"
      md-limit="viewModel.query.limit"
      md-limit-options="viewModel.query.limitOptions"
      md-total="{{ viewModel.total }}"
      md-on-paginate="viewModel.getData">
    </md-table-pagination>
  </md-card>

  <md-card md-whiteframe="2" flex ng-if="viewModel.route">
    <md-toolbar class="md-default">
      <div class="md-toolbar-tools">
        <md-button
          class="md-icon-button"
          ng-click="viewModel.route = null"
          ng-href="/routes{{ viewModel.pathExtension }}">
          <md-icon
            class="md-24"
            md-font-src="material-icons">
            arrow_back
          </md-icon>
        </md-button>
        <img ng-src="{{ viewModel.route.user.image }}" class="userAvatar md-avatar" alt="{{ viewModel.route.user.name }}"/>
        <span class="md-headline" layout-margin>{{ viewModel.route.user.name }}</span>
      </div>
    </md-toolbar>

    <md-card-content>
      <div layout="column">
        <span>Route started on {{ viewModel.route.start | date : 'medium' }}</span>
        <span ng-if="viewModel.route.end">Route ended on {{ viewModel.route.end | date : 'medium' }}</span>
        <span ng-if="viewModel.route.end">Lasted {{ (viewModel.route.end - viewModel.route.start) | date : 'H:mm:ss' : 'UTC' }}</span>
        <span ng-if="!viewModel.route.end">{{ viewModel.route.running ? 'Route is running' : 'Route is not running' }}</span>
        <span ng-if="viewModel.route.collisionId">
          <a ng-href="/collisions{{ viewModel.pathExtension }}/{{ viewModel.route.collisionId }}">Collision link</a>
        </span>
        <span>{{ viewModel.route.snapshots.length }} snapshot(s)</span>
      </div>
    </md-card-content>
    <div
      class="map"
      flex
      map-lazy-load="https://maps.google.com/maps/api/js"
      map-lazy-load-params="{{ googleMapsUrl }}"
      ng-if="viewModel.route.snapshots">

      <script id="info-window.html" type="text/ng-template">
        <div layout="column" ng-non-bindable="">
          <span>Snapshot from {{ viewModel.route.snapshot.timestamp | date : 'medium' }}</span>
          <span>Latitude: {{ viewModel.route.snapshot.latitude }}</span>
          <span>Longitude: {{ viewModel.route.snapshot.longitude }}</span>
          <span>Speed: {{ viewModel.route.snapshot.speed | number : 3 }}</span>
          <span>Acceleration: [
            {{ viewModel.route.snapshot.acceleration.x  | number : 3 }},
            {{ viewModel.route.snapshot.acceleration.y  | number : 3 }},
            {{ viewModel.route.snapshot.acceleration.z  | number : 3 }} ]
          </span>
          <span>Velocity: [
            {{ viewModel.route.snapshot.velocity.x  | number : 3 }},
            {{ viewModel.route.snapshot.velocity.y  | number : 3 }},
            {{ viewModel.route.snapshot.velocity.z  | number : 3 }} ]
          </span>
        </div>
      </script>

      <ng-map
        map-initialized="viewModel.initMap()"
        single-info-window="true"
        zoom-to-include-markers="true">
        <marker
          id="snapshot-{{ item.timestamp }}"
          no-watcher="true"
          icon="images/route-snapshot-marker.png"
          position="[{{ item.latitude }},{{ item.longitude }}]"
          on-click="viewModel.showSnapshotInfo(event, item)"
          ng-repeat="item in viewModel.route.snapshots">
        </marker>
        <info-window id="snapshotInfo" template="info-window.html"></info-window>
      </ng-map>
    </div>
  </md-card>
</md-content>
