<md-content layout-padding layout="column">
  <!-- TODO, check out for expandable list http://embed.plnkr.co/NMvyXBL3FYf2b2XsAlz9 -->
  <section ng-repeat="section in viewModel.sections">
    <md-subheader>{{ section.date | amCalendarDate : null : 'days' }}</md-subheader>
    <md-card>
      <md-item ng-repeat="item in section.items">
        <md-context
          layout-padding
          layout="column">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{ item.code }} - {{ item.service }}</span>
              <span class="md-caption">{{ item.date | amDateFormat : '[Às] H:mm' }}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="column">
            <span class="md-subhead md-padding"><strong>{{ item.client.name }}</strong></span>
            <div layout="column">
              <span class="md-body2 md-padding">{{ item.address.place }}</span>
              <span class="md-caption md-padding" ng-if="item.address.reference">
                {{ item.address.reference }}
              </span>
            </div>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-accent" ng-if="viewModel.agenda" ng-click="viewModel.addToGoogleCalendar(item)">Adicionar na agenda</md-button>
            <md-button class="md-accent" ng-click="viewModel.openAddressOnGoogleMaps(item)">Abrir no mapa</md-button>
          </md-card-actions>
        </md-context>
        <md-divider inset></md-divider>
      </md-item>
    </md-card>
  </section>

  <div flex layout="row" layout-align="center center" ng-if="viewModel.loading">
    <md-progress-circular></md-progress-circular>
  </div>
</md-content>
