<md-dialog aria-label="{{ script.name }}">
  <md-dialog-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ title }}</h2>
      </div>
    </md-toolbar>
    <div
      layout="row"
      layout-padding
      layout-margin
      layout-fill
      layout-align="space-around">
      <span layout-align="start center">{{ message }}</span>
      <div flex></div>
      <md-progress-circular
        layout-align="center center"
        md-mode="indeterminate"
        md-diameter="24"
        ng-hide="done">
      </md-progress-circular>
    </div>
  </md-dialog-content>
  <md-dialog-actions ng-if="done">
    <md-button ng-click="closeDialog()" class="md-primary">
      Ok
    </md-button>
  </md-dialog-actions>
</md-dialog>
